.feynman__link {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    transition: opacity 0.2s ease-out;
}

.feynman__link:hover {
  opacity: 0.2;
}